[Unit]
Description=Boilerplate
After=network.target

[Service]
Type=simple
ExecStart={{ boilerplate_run }}
Restart=always

User=root
Environment=NODE_ENV={{ node_env }}
WorkingDirectory=/usr/local/webpack-boilerplate

[Install]
WantedBy=multi-user.target