upstream boilerplate-backend {
        server localhost:8080;
}

server {
        listen 80;
        server_name {{ ansible_hostname }};
        return 301 https://$host$request_uri;
}

server {
       listen 443 ssl;
       ssl_certificate /etc/ssl/server/cert.crt;
       ssl_certificate_key /etc/ssl/server/cert.key;
       ssl_client_certificate /etc/ssl/client/ca.crt;
       ssl_verify_client on;
       server_name {{ ansible_hostname }};
       access_log /var/log/nginx/{{ ansible_hostname }}.access.log;
       error_log /var/log/nginx/{{ ansible_hostname }}.error.log;
       add_header Access-Control-Allow-Origin "localhost";
       proxy_cache boilerplate;
       proxy_temp_path /var/cache/nginx/tmp;
    location / {
            proxy_pass http://boilerplate-backend;
            proxy_set_header Host $host;
            proxy_set_header X-Real-IP $remote_addr;
    }
}